<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<main>
<section class="text-center text-lg-start">

  <div class="container py-5">
    <div class="row g-0 align-items-center">

      <!-- LOGIN -->
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right bg-white shadow-lg">
          <div class="card-body p-5 text-center">

            <h2 class="fw-bold mb-2">Bienvenido</h2>
            <p class="subtitle mb-4">Inicia sesión para continuar</p>

            <form>

              <!-- Email -->
              <div class="form-floating mb-4">
                <input type="usuario" id="usuario" class="form-control" placeholder="Usu">
                <label for="text">Usuario</label>
              </div>

              <!-- Password -->
              <div class="form-floating mb-3">
                <input type="password" id="password" class="form-control" placeholder="Contraseña">
                <label for="password">Contraseña</label>
              </div>



              <!-- Submit -->
              <button type="submit" class="btn btn-primary w-100 mb-3">
                Iniciar sesión
              </button>

              <p class="subtitle">
                ¿No tienes cuenta?
                <a href="#" class="form-link text-primary fw-medium">Regístrate</a>
              </p>

            </form>

          </div>
        </div>
      </div>

      <!-- IMAGEN -->
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="img/fondo.png"
             class="w-100 rounded-4 shadow login-img"
             alt="Imagen Login" />
      </div>

    </div>
  </div>

</section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
